@font-face {
    font-family: 'iconfont';
    src: url(//at.alicdn.com/t/c/font_4408961_io1t2j9f8m.woff2?t=1709520945823) format("woff2"),url(//at.alicdn.com/t/c/font_4408961_io1t2j9f8m.woff?t=1709520945823) format("woff"),url(//at.alicdn.com/t/c/font_4408961_io1t2j9f8m.ttf?t=1709520945823) format("truetype")
}

.iconfont {
    font-family: 'iconfont' !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}