version: "1.1.0"

services:
  redis:
    image: redis:6-alpine
    container_name: redis
    profiles: ["all", "local"]
    env_file: .env
    restart: always
    environment:
      REDISCLI_AUTH: ${REDIS_PASSWORD:-tF0cC3aE2tD2hK0dA0oT}
#    volumes:
#      # Mount the redis data directory to the container.
#      - ./redis/data:/data
    # Set the redis password when startup redis server.
    command: redis-server --requirepass ${REDIS_PASSWORD:-tF0cC3aE2tD2hK0dA0oT}
    ports:
      - "${EXPOSE_REDIS_PORT:-6379}:6379"
    healthcheck:
      test: [ 'CMD', 'redis-cli', 'ping' ]
    networks:
      - qknownet
  neo4j:
    image: neo4j:4.4.40
    container_name: neo4j
    restart: always
    env_file: .env
    environment:
      - NEO4J_AUTH=neo4j/${NEO4J_PASSWORD:-aA3nJ7pF1iJ2cB0fM1nJ}
    profiles: [ "all", "schema" ]
    ports:
      - "7474:7474"
      - "7687:7687"
    volumes:
      - ./database/neo4j/data:/data
      - ./database/neo4j/logs:/logs
    networks:
      - qknownet
  nginx:
    image: nginx:1.24.0
    container_name: nginx
    restart: always
    profiles: [ "all" ]
    env_file: .env
    ports:
      - '${EXPOSE_NGINX_PORT:-80}:${NGINX_PORT:-80}'
    networks:
      - qknownet
    volumes:
      - ./nginx/dist:/usr/share/nginx
      - ./nginx/logs:/var/log/nginx
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/sites/:/etc/nginx/http_vhost/:ro
  #MySQL主库
  mysql:
    privileged: true
    image: mysql:8.0
    container_name: mysql
    restart: always
    profiles: [ "all", "schema", "local", "qknow-mysql" ]
    env_file: .env
    environment:
      TZ: ${TZ}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD:-lJ7gP0cA5dD2dA1hA3bJ}
      MYSQL_DATABASE: ${MYSQL_DATABASE:-qknow}
      MYSQL_USER: ${MYSQL_USER:-qknow}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD:-lJ7gP0cA5dD2dA1hA3bJ}
      # 开关变量
      MYSQL_ENABLE: ${MYSQL_ENABLE:-false}
    command: |
      bash -c '
      if [[ "$${MYSQL_ENABLE}" != "true" ]]; then
      echo "[mysql] ENABLE is not true, exit."
      exit 0
      fi
      exec docker-entrypoint.sh mysqld \
      --lower-case-table-names=1 \
      --character-set-server=utf8mb4 \
      --collation-server=utf8mb4_general_ci \
      --default-authentication-plugin=mysql_native_password
      '
    ports:
      - "3306:3306"
    volumes:
      #      #挂载数据库
      #      - ./mysql/data:/var/lib/mysql
      #挂载配置文件
      - ./database/mysql/conf.d:/etc/mysql/conf.d
      # 如需初始化 SQL：
      - ./database/mysql/init:/docker-entrypoint-initdb.d:ro
    healthcheck:
      test: [ "CMD","mysqladmin","ping","-h","127.0.0.1","-plJ7gP0cA5dD2dA1hA3bJ" ]
      interval: 10s
      timeout: 5s
      retries: 10
    networks:
      - qknownet
